body {
  font: 30px Garamond, Baskerville, Helvetica, sans-serif;
  margin: 20px;
  background-image: url('eggshell.jpg');
  text-align: center;
}

h1 {
  font-size: 5rem;
  color: #0E506C;
  margin: 0;
  padding: 20px 0px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.game-board {
  display: inline-block;
  margin: 0 auto;
}

a{
 display: inline;
  font-size: 2rem;
  color: #082432;
  text-decoration: none;
  margin: 20px 0px;
}

.square {
  background: #fff;
  border: 2px solid #0E506C;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 60px;
  height: 60px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 60px;
}



.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: inline;
}

ol {
  padding: 0px;
  display: inline;
  list-style: none;
}

.game-info {
  display: block;
}

a:hover {
  color: #1DB9F9;
}
